[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/NekoLib"]
	path = external/NekoLib
	url = https://github.com/EliasFarhan/NekoLib.git
[submodule "external/imnodes"]
	path = external/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "external/wasm3"]
	path = external/wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "external/KTX-Software"]
	path = external/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
