[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/NekoLib"]
	path = external/NekoLib
	url = https://github.com/EliasFarhan/NekoLib.git
