[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/--force"]
	path = external/--force
	url = https://github.com/EliasFarhan/imnodes.git
[submodule "external/imnodes"]
	path = external/imnodes
	url = https://github.com/EliasFarhan/imnodes.git
[submodule "external/basis_universal"]
	path = external/basis_universal
	url = https://github.com/BinomialLLC/basis_universal
